JWT_SECRET_KEY="YOUR-JWT-SECRET-KEY"
CONFIG_PATH="YOUR-CONFIG-YAML-PATH"
DB_USERNAME="YOUR-DB-USERNAME"
DB_PASSWORD="YOUR-DB-PASSWORD"
REDIS_USERNAME="YOUR-REDIS-USERNAME"
REDIS_PASSWORD="YOUR-REDIS-PASSWORD"
CORS_URL="YOUR-CORS-URLS"
DB_HOST="YOUR-DB-HOST"
DB_PORT=YOUR-DB-PORT
DB_NAME="YOUR-DB-NAME"
COOKIE_SECURE=COOKIE-SECURE
REDIS_ADDR="YOUR-REDIS-ADDR"
REDIS_DB=YOUR-REDIS-DB